.country {
  margin-top: 100px;
  padding: 0 60px;
  color: $white;
  font-size: $font-big;
  display: flex;
  justify-content: space-between;

  font-size: $font-small;
  line-height: 1.8;

  span{
    font-weight: 600;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
  }

  @include mobile{
    padding: 0 30px;
  }


  > div {
    width: 45%;
    float: left;

    @include tablet {
      width: 100%;
    }
  }

  .country__flag {
    box-shadow: $box-shadow;
  }

  .country__details{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
    padding: 0;

    >div{
      width: 45%;
    float: left;

    @include tablet {
      width: 100%;
    }
    }
   
  }
  .country__left {
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
    .country__weather {
      width: 100%;
      font-size: $font-small;
      line-height: 1.5;
      margin-top: 40px;

      @include mobile{
        margin-bottom: 30px;
      }

      img {
        width: 60px;
        margin-bottom: 10px;
      }
      h4 {
        margin-bottom: 10px;
      }
    }
  }
  .country__borders {
    display: inline-flex;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;

    @include mobile{
      flex-direction: column;
    }

    p {
      margin-right: 10px;
    }

    ul {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      @include mobile{
        margin-top: 10px;
      }
    }

    li {
      list-style: none;
      display: block;
      margin-right: 10px;
      margin-bottom: 10px;

      button {
        width: 80px;
        height: 40px;
        background-color: $dark-blue;
        box-shadow: $box-shadow;
        color: $white;
        cursor: pointer;
        border: none;
        outline: none;

        &:hover{
          box-shadow: none;
        }
      }
    }
  }
  
  &.light{
    background-color: $white;
    color: $dark-blue;

    .country__borders li button{
      background-color: $white;
      color: $dark-blue;
    }
  }
}

.country__wrapper{
  min-height: 100vh;
  background-color: $very-dark-blue;

  &.light{
    background-color: $white;
  }
  
button.backBtn {
  position: relative;
  top: 60px;
  margin-top: 40px;
  margin-left: 60px;
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background-color: $dark-blue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $white;
  box-shadow: $box-shadow;
  cursor: pointer;

  @include mobile{
    margin-left: 30px;
  }

  i {
    margin-right: 10px;
  }

  &:hover{
    box-shadow: none;
  }
}

&.light{
  background-color: $white;

  button.backBtn{
    background-color: $white;
    color: $dark-blue;
  }
}
}